---
title: Полезная информация при работе в САПР
---
<!DOCTYPE html>
<html lang="ru">
<head>
	{% include head.html %}
</head>
<body>
	{% include banner_start.html %}
		<h1>Полезная информация при&nbsp;работе в&nbsp;САПР</h1>
	{% include banner_end.html %}

	<div class="main">
		<div class="positioner">
			<p>Рекомендуется смотреть видео на скорости х1.25-1.5.</p>
			<p>YouTube-каналы:</p>
			<ul>
				<li><a target="_blank" href="https://www.youtube.com/c/Сумрачныйконструктор">Сумрачный конструктор</a></li>
				<li><a target="_blank" href="https://www.youtube.com/channel/UCNclYJiqpIL91_Npuxr9UeA">ООО "ОКБ"</a></li>
				<li><a target="_blank" href="https://www.youtube.com/@ruman_cars">Сергей Руман</a></li>
			</ul>

			<p>Проектирование в целом:</p>
			<ul>
				<li><a target="_blank" href="https://www.youtube.com/watch?v=3D_yyWg3jOM">Выстраивание процесса проектирования</a> с использованием ПО Siemens (NX, TeamCenter, Amesim)</li>
			</ul>

			<p>Основные понятия и приемы работы:</p>
			<ul>
				<li><a target="_blank" href="https://www.youtube.com/watch?v=U5TMIz4skus">О подходе к построению</a> моделей вообще.</li>
				<li>О том, почему эскизы <a target="_blank" href="https://www.youtube.com/watch?v=Wu_Wv-Zuhcg&t=195">должны быть определены</a>, на примере фасок и скруглений.</li>
				<li><a target="_blank" href="https://www.youtube.com/watch?v=VZ_WndMgvng">Ограничения и привязки</a> в эскизах.</li>
				<li><a target="_blank" href="https://www.youtube.com/watch?v=tlJGxyDvwUI">Переменные</a> в Компасе.</li>
			</ul>

			<p>Обзорное видео <a target="_blank" href="https://www.youtube.com/watch?v=Wjlq0jtAnKg">о методиках проектирования</a> от Аскон.</p>

			<p>Методика проектирования "сверху-вниз":</p>
			<ul>
				<li><a target="_blank" href="https://www.youtube.com/watch?v=OWAcmD8P0T0">Как упрощается процесс внесения изменений</a> в модель при проектировании с компоновочной геометрией.</li>
				<li>Краткое вводное видео <a target="_blank" href="https://www.youtube.com/watch?v=sc6w3kIOUmk">о проектировании "сверху-вниз"</a>.</li>
				<li><a target="_blank" href="https://www.youtube.com/playlist?list=PLOMBiG39iBluaNSscvcZPLhSjSHe3CTs3">Плейлист</a> о проектировании изделия с помощью компоновочной геометрии.<br><strong>Обязательны к просмотру</strong> видео #1, #2 и особенно последнее #6.</li>
				<li><a target="_blank" href="https://www.youtube.com/watch?v=AjarK6Ho0mw">О коллективной разработке</a> в команде.</li>
			</ul>

			<p>Чертежи:</p>
			<ul>
				<li><a target="_blank" href="https://www.youtube.com/watch?v=gfDUn18lVwM">Ассоциативные чертежи</a>.</li>
				<li><a target="_blank" href="https://www.youtube.com/watch?v=P5vERI8SA1M">Перенос размеров</a> с модели в чертеж. К сожалению, данный метод еще "сырой" и применять его не стоит, но для общего понимания принципов ассоциативных построений полезно.</li>
			</ul>

			<p>Интересное:</p>
			<ul>
				<li>
					Параметризация <a target="_blank" href="https://www.youtube.com/watch?v=aCyWhqLNKH8">с помощью графиков</a> (выполнение зависимостей между переменными графическим методом).
					<br>Позволяет возможным выполнить <strong>параметризацию резьб и их шагов</strong> (используя "Нестандартные резьбы") и др.
					<br>Особенно эффективно для реверс-инжиниринга.
				</li>
				<li>
					<a target="_blank" href="https://youtu.be/K3gpDczUL3E?t=1617">Идея</a> об использовании внешних переменных в компоновочной геометрии.
					<br>
					Тут же - идея о копировании компоновочной геометрии для детали из контекста сборки.
				</li>
				<li>
					<b>Булевы операции</b> для моделирования <a target="_blank" href="https://www.youtube.com/watch?v=NZcrLRwcRzE"></a>литых деталей</a> и&nbsp;<a target="_blank" href="https://www.youtube.com/watch?v=CGCwC5U_jZg">литейных форм</a> (а также штампов и других ответных деталей).
				</li>
			</ul>

		</div>
	</div>


	{% include footer.html %}

</body>
</html>
