<div class="banner {% if page.is_banner_long %}long{% endif %}">
	<div class="header">
		<div class="positioner">
			<ul class="nav">
				<li class="logo">
					<a href="/" title="На главную">
						<img src="/assets/img/daisy_logo_white_rus.svg" alt="Romashki Logo">
					</a>
				</li>
				<li>
					<a href="/kompas-3d">
						<span>Компас-3D</span>
					</a>
					<ul>
						<li><a href="/kompas-3d/tips-and-tricks">Советы и хитрости</a></li>
						<li><a href="/kompas-3d/conditional-expressions">Условные выражения</a></li>
						<!-- <li><a href="/kompas-3d/macros">Макросы</a></li> -->
					</ul>
				</li>
				<!-- <li>
					<a href="/siemens-nx">
						<span>Siemens NX</span>
					</a>
				</li> -->
				<li>
					<a href="/handbook">
						<span>Справочник <br>машиностроителя</span>
					</a>
					<ul>
						<li><a href="/handbook/tolerances-and-fits">Допуски и посадки</a></li>
						<!-- <li><a href="/handbook/geometric-tolerances">Геометрические допуски</a></li> -->
						<li><a href="/handbook/construction-elements">Конструктивные элементы</a></li>
					</ul>
				</li>
				<li>
					<a href="/about">
						<span>Об авторе</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="banner-spacer"></div>
	<div class="banner-content">
		<div class="positioner banner-container">
