

<div class="footer-body-spacer"></div>

<div class="footer">
	<div class="positioner footer-flex">
		<div class="footer-logo">
			<a href="/" title="На главную" class="footer-a-image">
				<img src="/assets/img/daisy_white.svg" alt="Romashki Logo" class="footer-image">
			</a>
		</div>
		<ul class="footer-ul">
			<li>
				<a href="/kompas-3d">Компас-3D</a>
				<ul>
					<li><a href="/kompas-3d/tips-and-tricks">Советы и хитрости</a></li>
					<li><a href="/kompas-3d/conditional-expressions">Условные выражения</a></li>
					<li><a href="/kompas-3d/macros">Макросы</a></li>
				</ul>
			</li>
			<li>
				<a href="/siemens-nx">Siemens NX</a>
			</li>
			<li>
				<a href="/handbook">Справочник машиностроителя</a>
				<ul>
					<li><a href="/handbook/tolerances-and-fits">Допуски и посадки</a></li>
					<li><a href="/handbook/geometric-tolerances">Геометрические допуски</a></li>
				</ul>
			</li>
			<li>
				<a href="/about">Об авторе</a>
			</li>
		</ul>
		<div>
			<p>Фотография от <a target="_blank" href="https://unsplash.com/photos/JV0y2YgXJcY">virginia lackinger</a>.</p>
			<p>Иконки от <a target="_blank" href="https://icons8.com">Icons8</a>.</p>
			<hr class="footer-spacer">
			<ul class="footer-button-bar">
				<li>
					<a target="_blank" href="mailto:nikitamamay@mail.ru" title="Электронная почта" class="footer-a-image">
						<img src="/assets/img/mail_white.svg" alt="Email">
					</a>
				</li>
				<li>
					<a target="_blank" href="https://t.me/nikitosmamay" title="Telegram" class="footer-a-image">
						<img src="/assets/img/telegram_white.svg" alt="Telegram">
					</a>
				</li>
				<li>
					<a target="_blank" href="https://vk.com/nikitosmamay" title="ВКонтакте" class="footer-a-image">
						<img src="/assets/img/vk_white.svg" alt="Vkontakte">
					</a>
				</li>
				<li>
					<a target="_blank" href="https://github.com/nikitamamay" title="Github" class="footer-a-image">
						<img src="/assets/img/github_white.svg" alt="Github">
					</a>
				</li>
				<li>
					<a target="_blank" href="https://stepik.org/users/46383149" title="Stepik.org" class="footer-a-image">
						<img src="/assets/img/stepik_white.svg" alt="Stepik">
					</a>
				</li>
				<!-- <li>
					<a target="_blank" href="https://www.youtube.com/channel/UCOPehtMtBZDt4Pts8rzUkdQ" title="YouTube" class="footer-a-image">
						<img src="/assets/img/youtube_white.svg" alt="Youtube">
					</a>
				</li> -->
			</ul>
			<hr class="footer-spacer">
			<p>&copy;&nbsp;Никита Мамай, 2021-2026.</p>
		</div>
	</div>
</div>


<!-- Modal window -->
<div style="display: none;" id="modal-background">
	<div class="modal-image-container">
		<img id="modal-image">
	</div>
	<div id="modal-content" class="positioner"></div>
	<button class="modal-contol modal-contol-left" onclick="modal_switch(-1)">Предыдущее</button>
	<button class="modal-contol modal-contol-right" onclick="modal_switch(+1)">Следующее</button>
	<button class="modal-contol modal-contol-close" onclick="modal_bg.close()">Закрыть</button>
</div>


<script src="/assets/js/script.js"></script>
