---
title: Конструктивные элементы
---
<!DOCTYPE html>
<html lang="ru">
<head>
	{% include head.html %}
</head>
<body>
	{% include banner_start.html %}
		<h1>Конструктивные элементы</h1>
	{% include banner_end.html %}

    <div class="main">
        <div class="positioner">
            <p>Эта страница пока не наполнена контентом...</p>
            <p>Здесь планируется рассказать про геометрические допуски и требования к шероховатости, которые регламентируются некоторыми конструктивными элементами, такими как: места под подшипники, шпонки, шлицы, резьбы и другое.</p>
            <p>Статьи:</p>
            <ul>
                <li><a href="/handbook/construction-elements/keys/">Шпоночные соединения</a></li>
            </ul>
        </div>
    </div>


	{% include footer.html %}
</body>
</html>
