---
title: Условные выражения в Компас-3D
---
<!DOCTYPE html>
<html lang="ru">
<head>
	{% include head.html %}
</head>
<body>
	{% include banner_start.html %}
		<h1>Генератор условных выражений для&nbsp;Компас-3D</h1>
	{% include banner_end.html %}

	<div class="main">
		<div class="positioner">
			<!--
			<p>В данной программе считается, что &laquo;от&raquo; - значит включительно; &laquo;свыше&raquo; - значит невключительно.</p>

			<p>Первый столбец - независимая переменная (&laquo;X&raquo;), последующие столбцы - зависимые от &laquo;Х&raquo; переменные (&laquo;Y<sub>1</sub>&raquo; ... &laquo;Y<sub>N</sub>&raquo;).</p>

			<p>В первой строке должны быть заголовки столбцов. Их можно не указывать, но тогда в первую строку нужно написать какой-нибудь произвольный текст.</p>
 -->
			<div>
				<textarea id="ta_input" placeholder="Вставьте сюда таблицу значений, разделенных символом табуляции..."></textarea>
			</div>

			<p>
				<label>
					<input type="checkbox" id="cb_include_from">
					Включать значение X в диапазон (использовать &laquo;от&raquo; вместо &laquo;свыше&raquo;)
				</label>
			</p>
			<p>
				<label>
					<input type="checkbox" id="cb_has_headings" checked>
					Первая строка содержит наименования столбцов
				</label>
			</p>

			<div>
				<button id="btn_submit_input" class="button-submit">Сгенерировать</button>
			</div>

			<hr>

			<div class="scrollarea allow-horizontal-scrolling allow-vertical-scrolling">
				<table id="table_input" class="monospace table-hover-highlight table-no-vertical-margins">
					<tr>
						<td class="placeholder">Здесь будет предпросмотр исходной таблицы...</td>
					</tr>
				</table>
			</div>

			<hr>

			<div class="allow-horizontal-scrolling">
				<table id="table_results" class="monospace table-hover-highlight">
					<tr>
						<td class="placeholder">Здесь будет результат...</td>
					</tr>
				</table>
			</div>

		</div>
	</div>

	<div class="main grey">
		<div class="positioner">
			<h2>Для чего это нужно?</h2>

			<p>При создании параметрических 3D-моделей и фрагментов возникают ситуации, когда необходимо создать зависимость одной переменной от другой (одного размера от другого).</p>

			<p>Чаще такие ситуации возникают при моделировании стандартных или покупных изделий, для которых предоставляются таблицы типоразмеров. Например:</p>
			<ul>
				<li>размеры шпонки и шпоночного паза - ширина <code>b</code>, высота <code>h</code>, скругления шпонки <code>c</code>, глубины паза на валу <code>t1</code> и во втулке <code>t2</code> - связаны с диаметром вала <code>d</code>;</li>
				<li>размеры стандартных изделий (болтов, гаек, шайб и т. д.) зависят от номинального диаметра резьбы;</li>
				<li>размеры фитингов РВД по каталогу определяются диаметром рукава и номинальным диаметром конуса;</li>
				<li>можно выделить зависимость, например, размеров корпуса редуктора от межосевого расстояния;</li>
				<li>и др.</li>
			</ul>

			<p>Зависимость между двумя переменными можно выразить непрерывной функцией, например, <code>y = x * 0.8</code> или <code>y = x^(1/3)</code>. Однако, такие простые зависимости для вышеобозначенных примеров встречаются лишь в общем виде, причем размеры округлены не по правилам математики, а по правилам машиностроения.</p>

			<p>Известен способ решения проблемы задания произвольных (в том числе дискретных (ступенчатых)) зависимостей между переменными с помощью <a target="_blank" href="https://rutube.ru/video/85266ebfea970a069df87deadf4de801/?r=wd">графиков из сплайнов</a>, предложенный Константином Корюкиным. Такой метод более трудоемкий, а в случаях, когда нужно задать ступенчатую зависимость в диапазонах переменной <code>x</code>, и вовсе неприменимый.</p>

			<p>Еще один метод - создание условных (тернарных) выражений. Условные выражения отлично подходят для создания ступенчатых зависимостей, которые выражаются в виде таблицы.</p>

			<!-- autoplay=1& -->
			<!-- <iframe class="width-100" src="https://www.youtube.com/embed/11tYWHR8mk0?mute=1&loop=1&controls=0"></iframe> -->
		</div>
	</div>

	<div class="main">
		<div class="positioner">
			<h2>Как пользоваться?</h2>
		</div>
		<div class="positioner flex-tiles flex-tiles-3 gallery-images-4-3 hyphens">
			<div>
				<div class="img-holder">
					<img class="gallery-image scalable-with-modal" src="imgs/libreoffice-table.png" alt="Таблица в LibreOffice Calc">
				</div>
				<p class="scalable-additional-content"><b class="b-accent">Шаг 1.</b> Создайте таблицу со&nbsp;значениями в табличном процессоре или текстовом редакторе (с символами табуляции в качестве разделителей столбцов).</p>
			</div>
			<div>
				<div class="img-holder">
					<img class="gallery-image scalable-with-modal" src="imgs/gen-ternar.png" alt="Генерация тернарных выражений на сайте">
				</div>
				<p class="scalable-additional-content"><b class="b-accent">Шаг 2.</b> Скопируйте таблицу в поле ввода на сайте и нажмите &laquo;Сгенерировать&raquo;.</p>
			</div>
			<div>
				<div class="img-holder">
					<img class="gallery-image scalable-with-modal" src="imgs/copy-result.png" alt="Сгенерированное тернарное выражение">
				</div>
				<p class="scalable-additional-content"><b class="b-accent">Шаг 3.</b> Скопируйте полученное выражение.</p>
			</div>
			<div>
				<div class="img-holder">
					<img class="gallery-image scalable-with-modal" src="imgs/func-in-kompas.png" alt="Переменная с функцией в Компас-3D">
				</div>
				<p class="scalable-additional-content"><b class="b-accent">Шаг 4.</b> Создайте в Компас-3D переменную, выражение которой ссылается на функцию. Вставьте сгенерированное выражение для новой функции.</p>
			</div>
			<div>
				<div class="img-holder">
					<img class="gallery-image scalable-with-modal" src="imgs/kompas-final.png" alt="Переменные в Компас-3D">
				</div>
				<p class="scalable-additional-content"><b class="b-accent">Шаг 5.</b> Завершите построения параметрической модели с привязкой к переменным.</p>
			</div>
		</div>
		<div class="positioner">
			<p>Когда необходимо задать зависимость от нескольких переменных <code>x1</code>, <code>x2</code>, <code>x3</code> (включая даже переменные-флаги), следует собрать из них переменную в виде суммы, например, <code>aaa = x1*10000 + x2*100 + x3</code>, и затем создать таблицу, где в первом столбце будет представлена эта переменная <code>aaa</code>.</p>
		</div>
	</div>

	<div class="main grey">
		<div class="positioner">
			<h2>Примеры использования</h2>
			<!-- <p>Здесь и далее под словами, например, "параметризация завязана на диаметр вала" понимается следующее: переменная, отвечающая за диаметр вала, сделана внешней и от нее через тернарные выражения зависят другие переменные, отвечающие за другие размеры. <b>То есть мораль такова: достаточно изменить значение одной основной переменной, чтобы изменились другие зависимые переменные и размеры модели.</b></p> -->
			 <p>Нажмите на картинку, чтобы раскрыть пояснения.</p>
		</div>
		<div class="positioner flex-tiles flex-tiles-3 gallery-images-16-9">
			<div>
				<div class="img-holder">
					<img class="gallery-image image-bordered scalable-with-modal" src="examples/фитинг-рвд.png" alt="">
				</div>
				<p class="text-align-center">Фитинг РВД</p>
				<p class="shown-only-in-modal scalable-additional-content">Фитинг РВД DKO угловой 90° c гайкой из каталога поставщика гидрооборудования. Модель поддерживает типы DKOL и DKOS. Назависимых переменных здесь 3 (три): внутренний диаметр рукава <code>D_rvd</code>, диаметр конуса <code>D_DKO</code>, переменная-флаг <code>is_L_0_or_S_1</code>, обозначающая типы DKOL или DKOS - связи этих значений выражены в виде сумм в переменных <code>xxx</code>, определяющей размеры фитинга (по одной таблице), и <code>yyy</code>, определяющей размеры уплотняющего конуса (по другой таблице).</p>
			</div>
			<div>
				<div class="img-holder">
					<img class="gallery-image image-bordered scalable-with-modal" src="examples/штуцер-рвд.png" alt="">
				</div>
				<p class="text-align-center">Штуцер РВД</p>
				<p class="shown-only-in-modal scalable-additional-content">Штуцер РВД с метрической резьбой из каталога поставщика гидрооборудования. Независимыми переменными являются диаметр конуса <code>D_DKO</code> и переменная-флаг <code>is_L_0_or_S_1</code>, обозначающая типы DKOL или DKOS - их связь выражена в виде суммы в переменной<code>yyy</code>, определяющей размеры уплотняющего конуса и ввёртной части.</p>
			</div>
			<div>
				<div class="img-holder">
					<img class="gallery-image image-bordered scalable-with-modal" src="examples/брс-iso-a.png" alt="">
				</div>
				<p class="text-align-center">БРС ISO A</p>
				<p class="shown-only-in-modal scalable-additional-content">Быстроразъемное соединение (БРС) ISO тип A из каталога поставщика гидрооборудования. Модель условная (габаритная); тела деталей предполагается копировать в отдельные модели розетки и штекера - поэтому тела пересекаются в модели БРС в сборе, так как они изображены для разомкнутых розетки и штекера. Независимой переменной является диаметр <code>DN</code>.</p>
			</div>
			<div>
				<div class="img-holder">
					<img class="gallery-image image-bordered scalable-with-modal" src="examples/полумуфта.png" alt="">
				</div>
				<p class="text-align-center">Полумуфта кулачковая</p>
				<p class="shown-only-in-modal scalable-additional-content">Кулачковая полумуфта под расточку с упругим элементом из каталога поставщика. Независимыми являются переменные <code>size</code> (типоразмер) и флаг <code>is_A_B_BL</code> (вариант исполнения). Модель служит для последующего копирования тел в отдельные модели полумуфт и упругого элемента.</p>
			</div>
			<div>
				<div class="img-holder">
					<img class="gallery-image image-bordered scalable-with-modal" src="examples/подшипник.png" alt="">
				</div>
				<p class="text-align-center">Подшипник по ГОСТ 8338</p>
				<p class="shown-only-in-modal scalable-additional-content">Подшипник по ГОСТ 8338 типоразмеров 204...215, 304...315. Независимой переменной является типоразмер <code>N</code>.</p>
			</div>
			<div>
				<div class="img-holder">
					<img class="gallery-image image-bordered scalable-with-modal" src="examples/шпонка.png" alt="">
				</div>
				<p class="text-align-center">Шпонка по ГОСТ 23360</p>
				<p class="shown-only-in-modal scalable-additional-content">Шпонка по ГОСТ 23360. Тело серого цвета - непосредственно шпонка; тело красного цвета - шпоночный паз, который можно вычесть булевой операцией. Параметризация завязана на диаметр вала и требуемую длину шпонки (действительная длина шпонки выбирается как ближайшая из стандартного ряда).</p>
			</div>
			<div>
				<div class="img-holder">
					<img class="gallery-image image-bordered scalable-with-modal" src="examples/проточка.png" alt="">
				</div>
				<p class="text-align-center">Проточка для наружной резьбы по ГОСТ 10549</p>
				<p class="shown-only-in-modal scalable-additional-content">Проточка для наружной резьбы по ГОСТ 10549. Показан разрез. Параметризация завязана на диаметр и шаг резьбы.</p>
			</div>
			<div>
				<div class="img-holder">
					<img class="gallery-image image-bordered scalable-with-modal" src="examples/конец вала.png" alt="">
				</div>
				<p class="text-align-center">Конец вала по ГОСТ 12080/12081</p>
				<p class="shown-only-in-modal scalable-additional-content">Конец вала по ГОСТ 12080/12081 длинного исполнения. Параметризация завязана на диаметр вала и флаг "конический/цилиндрический".</p>
			</div>
			<!-- <div>
				<div class="img-holder">
					<img class="gallery-image image-bordered scalable-with-modal" src="examples/болт.png" alt="">
				</div>
				<p class="text-align-center">Болт по ГОСТ 7798</p>
				<p class="shown-only-in-modal scalable-additional-content">Болт по ГОСТ 7798. Параметризация завязана на диаметр и шаг резьбы, требуемую длину болта (действительная выбирается как ближайшая большая из стандартного ряда). Если шаг выбран как "0", используется крупный.</p>
			</div> -->
			<!-- <div>
				<div class="img-holder">
					<img class="gallery-image image-bordered scalable-with-modal" src="examples/гайка.png" alt="">
				</div>
				<p class="text-align-center">Гайка по ГОСТ 5915</p>
				<p class="shown-only-in-modal scalable-additional-content">Гайка по ГОСТ 5915. Параметризация завязана на диаметр резьбы и шаг (если "0" - то крупный).</p>
			</div>
			<div>
				<div class="img-holder">
					<img class="gallery-image image-bordered scalable-with-modal" src="examples/шайба.png" alt="">
				</div>
				<p class="text-align-center">Шайба по ГОСТ 11371</p>
				<p class="shown-only-in-modal scalable-additional-content">Шайба по ГОСТ 11371. Параметризация завязана на диаметр резьбы крепежной детали.</p>
			</div> -->
			<div>
				<div class="img-holder">
					<img class="gallery-image image-bordered scalable-with-modal" src="examples/болтовое соединение.png" alt="">
				</div>
				<p class="text-align-center">Болтовое соединение с цилиндром отверстия по ГОСТ 11284</p>
				<p class="shown-only-in-modal scalable-additional-content">Болтовое соединение как модель с болтом, шайбой, гайкой, а также с цилиндром отверстия с зазором по ГОСТ 11284 для вычитания булевой операцией. Параметризация завязана на толщину скрепляемых деталей и диаметр резьбы; шаг крупный. Длина болта рассчитывается еще и в зависимости от толщины шайбы и гайки и выбирается как ближайшая большая из стандартного ряда.</p>
			</div>
		</div>
	</div>

	{% include footer.html %}

	<script src="gen-ternar.js"></script>
</body>
</html>
