<div class="banner {% if page.is_banner_long %}long{% endif %}">
	<div class="header">
		<div class="positioner">
			<ul class="nav">
				<li class="logo">
					<a href="/" title="На главную">
						<img src="/asserts/img/daisy_logo_white_rus.svg" alt="Romashki Logo">
					</a>
				</li>
				<li>
					<a href="/kompas-3d/tips-and-tricks.html">
						<div>Полезности <br>для Компас-3D</div>
					</a>
				</li>
				<li>
					<a href="/kompas-3d/gen-ternar.html">
						<div>Тернарные <br> выражения</div>
					</a>
				</li>
				<li>
					<a href="/tolerances-and-fits/tolerances-and-fits.html">
						<div>Допуски <br>и посадки</div>
					</a>
				</li>
				<li>
					<a href="/contacts.html">
						<div>Контакты</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="banner-spacer"></div>
	<div class="banner-content">
		<div class="positioner banner-container">
