
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--accent-color: #1e6129;
	--accent-color-lighter: #5fc16f;
	--accent-color-light: #cce7d1;
	--accent-color-darker: #123D19;
	--color-links: #0645ad;
	--color-links-visited: #0b0080;
}

/*** Footer on the bottom fix ***/
html, body {
	position: relative;
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
}
.footer-body-spacer {
	flex-grow: 1;
}

/*** Grid ***/

.positioner {
	max-width: 980px;
	padding: 0 10px;
	margin: 0 auto;
}
.no-padding {
	padding: 0;
}
.positioner-full-width {
	padding: 0 10px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.flex-tiles {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}
.flex-tiles > * {
	padding: 5px;
}
.flex-tiles > *:last-child {
	margin-right: auto;
}
.tile-12 {
	width: 100%;
}
.tile-9 {
	width: 75%;
}
.tile-8 {
	width: 66.6%;
}
.tile-6,
.flex-tiles-2 > * {
	width: 50%;
}
.tile-4,
.flex-tiles-3 > * {
	width: 33.3%;
}
.tile-3 {
	width: 25%;
}
.tile-2 {
	width: 16.6%;
}
.tile-1 {
	width: 8.33%;
}

.flex-tiles-in-row {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.flex-tiles-in-row > * {
	margin-left: 15px;
	max-width: 100%;
	min-width: 400px;
}
.flex-tiles-in-row > *:first-child {
	margin-left: 0;
}

.flex-cards {
	display: flex;
	flex-direction: row;
}
.flex-cards > * {
	width: 100%;
}
.flex-cards > *:nth-child(n+2) {
	margin-left: 10px;
}


.float-right {
	float: right;
	margin: 5px 0 5px 10px;
}
.float-left {
	float: left;
	margin: 5px 10px 5px 0;
}

.block-centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: max-content;
}
.allow-horizontal-scrolling {
	overflow-x: auto;
}
.allow-vertical-scrolling {
	overflow-y: auto;
}


/*** General styles ***/

body {
    background-color: white;
	font-family: "Open Sans", sans-serif;
	line-height: 1.2;
    /* font-size: 120%; */
}

frame,
iframe,
.box-with-ratio {
	box-sizing: content-box;
	border: 1px solid var(--accent-color);
	aspect-ratio: 16 / 9;
	display: block;
	width: 100%;
}
/*
body img {
	width: 100%;
}*/


abbr {
	cursor: help;
}
.hyphens {
	hyphens: auto;
}

.image-bordered {
	border: 1px solid var(--accent-color-darker);
}




/*** Header ***/

.header {
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	font-weight: lighter;
}
.header ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.nav li {
	position: relative;
}
.nav ul {
	display: none;
  min-width: 100%;
	flex-direction: column;
	position: absolute;
	right: 0;
	background-color: rgba(0, 0, 0, 0.7);
	backdrop-filter: blur(2px);
}

.header li {
	flex-shrink: 10;
}
.header a {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	min-height: 40px;
    padding: 10px;
	color: inherit;
	text-decoration: none;
    text-align: center;
	transition: background-color ease .2s;
}
.header a:hover,
.header a:focus {
	background-color: rgba(0, 0, 0, 1);
}
.header .logo {
	margin-right: auto;
}
.header .logo img {
	max-height: 30px;
	height: 30px;
	margin: 0 5px;
}

.banner {
	background: var(--accent-color) url("/assets/img/virginia-lackinger-JV0y2YgXJcY-unsplash.jpg") center 40% no-repeat;
	background-size: cover;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}
.banner-container {
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-wrap: wrap;
	margin-top: auto;
}
.banner.long,
.banner.long .banner-spacer {
	flex-grow: 100;
}
.banner-container h1,
.banner-container p {
	background-color: rgba(0, 0, 0, 0.7);
	font-weight: lighter;
	text-align: left;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.banner-container h1 {
	font-size: 28pt;
}
.banner-container h1.big {
	font-size: 34pt;
	max-width: unset;
	flex-grow: unset;
	padding: 30px;
}
.banner-element {
	height: 350px;
	background-color: rgba(0, 0, 0, 0.7);
	border: 4px solid rgba(0, 0, 0, 0.7);
}
.banner-img {
	width: 20%;
	height: auto !important;
}


/*** Footer ***/

.footer {
	padding: 30px 0;
	/* margin-top: auto; */
	color: white;
	background-color: #222;
	text-align: left;
	font-size: 10pt;
	font-weight: lighter;
}
.footer a {
	color: inherit;
}
.footer-flex {
	display: flex;
	justify-content: space-between;
}
.footer-flex > *:nth-child(n+2) {
	margin-left: 20px;
}
.footer-flex > :last-child {
	align-self: flex-end;
}
.footer-logo {
	align-self: flex-start;
}
.footer-image {
	max-height: 120px;
}
.footer ul {
	list-style: none;
}
.footer ul ul {
	margin-left: 10px;
}
.footer-ul a {
	text-decoration: none;
}
.footer-ul a:hover,
.footer-ul a:focus {
	text-decoration: underline;
}
.footer-spacer {
	margin: 5px 0;
	height: 0;
	border: none;
}
.footer-button-bar {
	list-style: none;
	display: flex;
}
.footer-button-bar > *:nth-child(n+2) {
	margin-left: 10px;
}
.footer-button-bar a {
	display: inline-block;
	height: auto;
}
.footer-button-bar img {
	width: 20px;
	height: 20px;
}

.footer-a-image img {
	opacity: 0.7;
}
.footer-a-image:hover img,
.footer-a-image:focus img {
	opacity: 1;
}


/*** Main ***/

.main {
	padding: 20px 0;
	line-height: 1.2;
	font-size: 12pt;
}
.grey,
.grey + .footer-body-spacer {
	background-color: #eee;
}

.main p {
	margin-top: 10px;
	margin-bottom: 5px;
}

.main dfn {
	font-style: normal;
	font-weight: bold;
	text-decoration: underline;
}

.main h6,
.main h5,
.main h4 {
	margin: 10px 0;
	font-size: 16px;
}
.main h3 {
	margin: 5px 0 10px;
	font-size: 18px;
	border-bottom: 1px solid #00000033;
	padding: 0 15px;
}
.main * + h3 {
	margin-top: 20px;
}
.main h2 {
	margin: 5px 0 10px;
	font-size: 24px;
	border-bottom: 1px solid var(--accent-color);
	padding: 2px 20px;
	color: #333;
}
.main * + h2 {
	margin-top: 30px;
}
.main h1 {
	padding: 2px 20px;
	margin: 0px 0 20px;
	text-align: center;
	font-size: 28px;
	border-bottom: 2px solid var(--accent-color);
}
.main * + h1,
.main * + * > h1 {
	margin-top: 50px;
}

.main h1,
.b-accent {
	color: var(--accent-color);
	filter: drop-shadow(0px 2px #00000033);
}

.main ul,
.main ol {
	margin-left: 60px
}
.main ul ul,
.main ul ol,
.main ol ul,
.main ol ol {
	margin-left: 40px
}
.main li {
	margin: 5px 0;
}
.main li > p {
	text-indent: 0;
}

.main img {
	margin: 10px auto;
	display: block;
}

.main dd {
	margin-left: 50px;
}
.main * + dt {
	margin-top: 10px;
}

.main hr {
	display: block;
	border: none;
	margin: 10px -5px;
	height: 2px;
	background-color: var(--accent-color);
	filter: drop-shadow(0px 2px #00000033);
}

.main table {
	border-collapse: collapse;
	width: 100%;
}
.main td,
.main th {
	border:  1px solid grey;
	padding: 3px;
}
.main th {
	background-color: var(--accent-color-light);
}
.main table p {
	text-indent: 0;
	margin: 0;
}
.main table * + p {
	margin-top: 5px;
}
.main td {
	vertical-align: top;
}
.main table.centered {
  margin: 0 auto;
  width: auto;
}
.main table.centered td {
	vertical-align: middle;
	text-align: center;
}
.main table .accent1 {
	color: white;
	background-color: var(--accent-color);
}
.main table .accent2 {
	color: white;
	background-color: grey;
}
.main table td[colspan] {
	text-align: center;
}
.main table td[rowspan] {
	vertical-align: middle;
}

.main .img-contacts {
	width: 22px;
	height: 22px;
	padding: 3px;
	display: inline-block;
	width: auto;
	border-radius: 5px;
	background-color: #222;
	margin: 0;
	vertical-align: -3px;
}
.main .ul-contacts {
	list-style: none;
	margin-left: 0;
}

.main a {
	color: var(--color-links);
	text-decoration: none;
}
.main a:hover,
.main a:focus {
	text-decoration: underline;
}
.main a:active {
	color: var(--accent-color-lighter);
}
.main a:visited {
	color: var(--color-links-visited);
}


.text-centered {
	text-align: center;
}
.card-image {
	display: block;
	margin: 0 auto;
}


.placeholder {
	color: #888;
}


.scrollarea {
	border: 1px solid #888;
	overflow: auto;
	width: 100%;

	min-height: 100px;
	max-height: 500px;
	font-size: 10pt;
}

tr:hover td {
	background-color: rgba(0, 0, 0, 0.066);
}

.button-submit {
	padding: 10px 20px;
}

.table-output td:last-child {
	text-align: right;
}


.sticky-headings h1,
.sticky-headings h2,
.sticky-headings h3 {
	position: sticky;
	top: 0;
	background-color: white;
	filter: none;
	box-shadow: 0px 2px 0 #00000033;
}
.sticky-headings h1 {
	text-shadow: 0px 2px 0 #00000033;
	z-index: 10;
}
.sticky-headings h2 {
	z-index: 9;
}
.sticky-headings h3 {
	z-index: 8;
}

code, pre {
	font-family: monospace;
	padding: 0 3px;
	background-color: #eee;
	border: 1px solid #aaa;
	border-radius: 3px;
}

.go-to-top {
	display: block;
	position: fixed;
	z-index: 10;
	bottom: 10px;
	right: 10px;
	color: #333;
	padding: 10px;
	background-color: #eee;
	border: 1px solid #aaa;
	border-radius: 3px;
}

.example {
	font-style: italic;
	margin-left: 30px;
}

button,
.button {
	background-color: #eee;
	padding: 5px 10px;
	font-size: 12pt;
	cursor: pointer;
	transition: ease .2s;
}
button:hover,
button:focus,
.button:hover,
.button:focus {
	background-color: var(--accent-color-light);
}
button:active,
.button:active {
	background-color: var(--accent-color-lighter);
}


textarea,
input,
button,
.button {
	border: 1px solid var(--accent-color);
	border-radius: 2px;
}

textarea,
input[type="text"] {
	padding: 5px;
	font-size: inherit;
	display: block;
	width: 100%;
}

textarea {
	max-width: 100%;
	min-width: 100%;
	width: 100%;
	min-height: 100px;
	height: 100px;
}
.monospace {
	font-family: "Consolas", monospace;
}
.align-center {
	text-align: center;
}

.gallery-images-16-9 .img-holder {
	aspect-ratio: 16 / 9;
}
.gallery-images-4-3 .img-holder {
	aspect-ratio: 4 / 3;
}
.img-holder {
	display: flex;
	justify-content: center;
	align-items: center;
}
.img-holder img {
	max-width: 100%;
	max-height: 100%;
	margin: 0;
}
.scalable-with-modal {
	cursor: pointer;
	cursor: zoom-in;
}
.scalable-with-modal:hover {
	outline: 2px solid var(--accent-color-lighter);
}


/*** Modal ***/

#modal-background {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 10px;
}
 #modal-content {
	background-color: white;
	border-radius: 5px;
	padding: 10px;
	margin-top: 10px;
	width: 100%;
}
.modal-image-container {
	overflow: hidden;
	margin: auto;
}
#modal-image {
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: auto;
}
.modal-contol {
	display: block;
	font-size: 0;
	opacity: 0.5;
	border: none;
	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 32px;
	height: 32px;
	cursor: pointer;
	transition: ease .2s;
	filter: drop-shadow(0 0 3px black);
	position: absolute;
}
.modal-contol:hover,
.modal-contol:focus {
	opacity: 1;
	background-color: transparent;
}
.modal-contol-left {
	background-image: url("/assets/img/left.svg");
	left: 10px;
	top: 50%;
}
.modal-contol-right {
	background-image: url("/assets/img/left.svg");
	rotate: 180deg;
	right: 10px;
	top: 50%;
}
.modal-contol-close {
	background-image: url("/assets/img/cross.svg");
	top: 10px;
	right: 10px;
}

.shown-only-in-modal {
	display: none;
}
#modal-content .shown-only-in-modal {
	display: unset;
}





@media screen and (max-width: 1000px) {
	.banner-element {
		height: 300px;
	}
	.tr-rotated-90 td {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
	}
}



@media screen and (min-width: 769px) {
	.nav > li:nth-child(n+2) {
		min-width: 120px;
	}
	.nav > li:hover ul {
		display: flex;
	}
}


@media screen and (max-width: 768px) {
	.flex-tiles-2 > * {
		width: 100%;
	}
	.flex-tiles-3 > * {
		width: 50%;
	}


	.flex-cards {
		display: block;
	}
	.flex-cards > :nth-child(n+2) {
		margin-left: 0;
	}

	.banner-container > * {
		max-width: 100%;
		width: 100%;
	}
	.banner-container > *:first-child {
		margin-bottom: 10px;
	}
	.banner-element {
		height: 250px;
	}

	.header .logo {
		width: 100%;
	}
	.header li {
		flex-grow: 1;
	}
	.nav ul {
		display: none !important;
	}

	.float-big {
		width: 100%;
	}
}




@media screen and (max-width: 500px) {

	.flex-tiles-3 > * {
		width: 100%;
	}

	.logo {
		width: 100%;
		margin: 0;
	}
	.logo a {
		height: 75px;
	}

	.banner-element {
		height: 250px;
	}
	.banner-container h1 {
		font-size: 18pt;
	}
	.banner-container h1.big {
		font-size: 22pt;
	}

	.main ul,
	.main ol {
		margin-left: 25px
	}

	.footer-flex {
		flex-wrap: wrap;
	}
	.footer-flex > * {
		width: 100%;
		margin-left: 0 !important;
	}
	.footer-flex > * + * {
		margin-top: 15px;
	}
	.footer-image {
		max-height: 50px;
		float: left;
		width: auto;
	}
}


