---
title: Допуски формы и местоположения
---
<!DOCTYPE html>
<html lang="ru">
<head>
	{% include head.html %}
</head>
<body>
	{% include banner_start.html %}
		<h1>Допуски формы и местоположения</h1>
	{% include banner_end.html %}

    <div class="main">
        <div class="positioner">
            <p>Эта страница пока не наполнена контентом...</p>
            <p>Здесь планируется рассказать про геометрические допуски общего назначения.</p>
        </div>
    </div>


	{% include footer.html %}
</body>
</html>
