---
title: Об авторе
---
<!DOCTYPE html>
<html lang="ru">
<head>
	{% include head.html %}
</head>
<body>
	{% include banner_start.html %}
		<h1>Об авторе</h1>
	{% include banner_end.html %}

	<div class="main">
		<div class="positioner">
			<p>Меня зовут Никита.</p>

			<p>Я владею продвинутыми навыками работы в САПР Компас-3D и Siemens NX. Умею моделировать по методологии сверху-вниз, создавать параметрические модели и чертежи.</p>

			<!-- <p>Я имею опыт выполнения расчетов методом конечных элементов (МКЭ) в Ansys и в Siemens NX Advanced Simulation.</p> -->

			<p>А ещё я программист-любитель. Чаще всего я пишу скрипты на Python для автоматизации рутинной работы. Среди проектов можно выделить <a href="/kompas-3d/macros">макросы для Компас-3D</a> и <a href="/siemens-nx">журналы для Siemens NX</a>.</p>
		</div>
	</div>

	<div class="main grey">
		<div class="positioner">
			<p>Вы можете связаться со мной в моих социальных сетях:</p>
			<ul class="ul-contacts">
				<li>
					<a target="_blank" href="mailto:nikitamamay@mail.ru" title="Электронная почта">
						<img class="img-contacts" src="/assets/img/mail.svg" alt="Email"> Электронная почта
					</a>
				</li>
				<li>
					<a target="_blank" href="https://t.me/nikitosmamay" title="Telegram">
						<img class="img-contacts" src="/assets/img/telegram.svg" alt="Telegram"> Telegram
					</a>
				</li>
				<li>
					<a target="_blank" href="https://vk.com/nikitosmamay" title="ВКонтакте">
						<img class="img-contacts" src="/assets/img/vk.svg" alt="Vkontakte"> ВКонтакте
					</a>
				</li>
				<li>
					<a target="_blank" href="https://github.com/nikitamamay" title="Github">
						<img class="img-contacts" src="/assets/img/github.svg" alt="Github"> Github
					</a>
				</li>
				<li>
					<a target="_blank" href="https://stepik.org/users/46383149" title="Stepik.org">
						<img class="img-contacts" src="/assets/img/stepik.svg" alt="Stepik"> Stepik.org
					</a>
				</li>
				<li>
					<a target="_blank" href="https://www.youtube.com/channel/UCOPehtMtBZDt4Pts8rzUkdQ" title="YouTube">
						<img class="img-contacts" src="/assets/img/youtube.svg" alt="Youtube"> YouTube
					</a>
				</li>
			</ul>
		</div>
	</div>


	{% include footer.html %}
</body>
</html>
