---
title: Главная
is_banner_long: true
---
<!DOCTYPE html>
<html lang="ru">
<head>
	{% include head.html %}
</head>
<body>
	{% include banner_start.html %}
		<h1 class="big">Главная страница <br> проекта &laquo;Ромашки&raquo;</h1>
	{% include banner_end.html %}

    <!-- <div class="main grey">
        <div class="positioner">
			<p>Добро пожаловать на мой персональный сайт!</p>
		</div>
	</div> -->

    <div class="main">
        <div class="positioner flex-cards">
        	<div class="text-align-center">
        		<a href="/kompas-3d/">
        			<img class="card-image" width="64px" height="64px" src="/assets/logos/kompas.svg">
	        		<p>Компас-3D</p>
	        	</a>
        	</div>
        	<!-- <div class="text-align-center">
        		<a href="/siemens-nx/">
        			<img class="card-image" width="64px" height="64px" src="/assets/logos/siemens-nx-old.svg">
	        		<p>Siemens NX</p>
	        	</a>
        	</div> -->
        	<div class="text-align-center">
        		<a href="/handbook/">
        			<img class="card-image" width="64px" height="64px" src="/assets/logos/handbook.svg">
	        		<p>Справочник машиностроителя</p>
	        	</a>
        	</div>
        </div>
    </div>

	{% include footer.html %}
</body>
</html>
