---
title: Siemens NX
---
<!DOCTYPE html>
<html lang="ru">
<head>
	{% include head.html %}
</head>
<body>
	{% include banner_start.html %}
		<h1>Siemens NX</h1>
	{% include banner_end.html %}

    <div class="main">
        <div class="positioner">
            <p>Эта страница пока не наполнена контентом...</p>
            <p>Здесь планируется рассказать про журналы (макросы) в Siemens NX:</p>
            <ul>
            	<li><a target="_blank" href="https://github.com/nikitamamay/nx-journals">NX Journals</a></li>
            	<li><a target="_blank" href="https://github.com/nikitamamay/nx12-nxopen-pyi">NXOpen <code>*.pyi</code> files</a></li>
            </ul>
        </div>
    </div>


	{% include footer.html %}
</body>
</html>
