---
title: Компас-3D
---
<!DOCTYPE html>
<html lang="ru">
<head>
	{% include head.html %}
</head>
<body>
	{% include banner_start.html %}
		<h1>Компас-3D</h1>
	{% include banner_end.html %}

    <div class="main">
        <div class="positioner flex-cards">
			<div class="text-align-center">
				<a class="card-link" href="/kompas-3d/tips-and-tricks">
					<img class="card-image" width="64px" height="64px" src="/assets/logos/tips.svg">
					<p>Советы и хитрости</p>
				</a>
			</div>
        	<div class="text-align-center">
        		<a class="card-link" href="/kompas-3d/conditional-expressions">
        			<img class="card-image" width="64px" height="64px" src="/assets/logos/conditional-expressions.svg">
	        		<p>Условные выражения</p>
	        	</a>
        	</div>
        	<!-- <div class="text-align-center">
        		<a class="card-link" href="/kompas-3d/macros">
        			<img class="card-image" width="64px" height="64px" src="/assets/logos/kompas-macros.svg">
	        		<p>Макросы</p>
	        	</a>
        	</div> -->
        </div>
    </div>


	{% include footer.html %}
</body>
</html>
