---
title: Макросы для Компас-3D
---
<!DOCTYPE html>
<html lang="ru">
<head>
	{% include head.html %}
</head>
<body>
	{% include banner_start.html %}
		<h1>Макросы для Компас-3D</h1>
	{% include banner_end.html %}

    <div class="main">
        <div class="positioner">
            <p>Эта страница пока не наполнена контентом...</p>
            <p>А вообще, здесь планируется рассказать о макросах для Компас-3D:</p>
            <ul>
            	<li><a target="_blank" href="https://github.com/nikitamamay/romashki-macros">Romashki Macros</a></li>
            	<li><a target="_blank" href="https://github.com/nikitamamay/romashki-dimensions">Romashki Dimensions</a></li>
            </ul>
        </div>
    </div>


	{% include footer.html %}
</body>
</html>
