---
title: Справочник машиностроителя
---
<!DOCTYPE html>
<html lang="ru">
<head>
	{% include head.html %}
</head>
<body>
	{% include banner_start.html %}
		<h1>Справочник машиностроителя</h1>
	{% include banner_end.html %}

    <div class="main">
        <div class="positioner flex-cards">
        	<div class="text-align-center">
        		<a href="/handbook/tolerances-and-fits/">
        			<img class="card-image" width="64px" height="64px" src="/assets/logos/size-tolerances.svg">
	        		<p>Допуски и посадки</p>
	        	</a>
        	</div>
        	<div class="text-align-center">
        		<a href="/handbook/construction-elements/">
        			<img class="card-image" width="64px" height="64px" src="/assets/logos/construction-elements.svg">
	        		<p>Конструктивные элементы</p>
	        	</a>
        	</div>
        	<!-- <div class="text-align-center">
        		<a href="/handbook/geometric-tolerances/">
        			<img class="card-image" width="64px" height="64px" src="/assets/logos/geometric-tolerances.svg">
	        		<p>Допуски формы и местоположения</p>
	        	</a>
        	</div> -->
        </div>
    </div>

	{% include footer.html %}
</body>
</html>
